<footer class="w3l-footer-29-main">
    <div class="footer-29-w3l py-5">
        <div class="container pt-md-5 pt-4">
            <div class="w3l-footer-texthny-inf">
                <h2>
                    <a class="d-flex align-items-center logo-2" href="index.html">
                        Bistros <i class="fa fa-cutlery ml-2" aria-hidden="true"></i>
                    </a>
                </h2>
                <div class="footer-list-cont d-flex align-items-center justify-content-between mt-md-5 mt-4 mb-5">
                    <h6 class="foot-sub-title">Bize Ulaşın</h6>

                    <div class="main-social-footer-29">
                        <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                        <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                        <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                        <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                    </div>
                </div>
            </div>
            <div class="row footer-top-29 mt-lg-5 mt-md-4 pt-md-5">
                <div class="col-lg-3 col-sm-6">
                    <div class="address-grid">
                        <h5>Eğitim mahallesi, Şükrü Tunar sokak, <br> İzmir.</h5>
                        <h5 class="mt-sm-5 mt-4">Hergün: <span> 07:00 - 20:00</span></h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-sm-0 mt-4">
                    <div class="address-grid">
                        <h5>Telefon</h5>
                        <h5 class="phone-number-text mt-2"><a href="tel:+1(21) 234 4567">+90 507 590 84 94</a></h5>
                    </div>
                    <div class="address-grid mt-sm-5 mt-4">
                        <h5>E-Mail</h5>
                        <h5 class="email-cont-text mt-1">
                            <a href="mailto:yusuf_erturk98@hotmail.com"
                               class="mail">yusuf_erturk98@hotmail.com</a>
                        </h5>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-5 footer-list-menu pl-lg-0 mt-lg-0 mt-sm-5 mt-4">
                    <div class="address-grid">
                        <h5 class="mb-4 pb-lg-2">Destek Bağlantıları</h5>
                        <ul>
                            <li><a href="#privacy">Gizlilik Politikası</a></li>
                            <li><a href="#terms">Kullanım Şartları</a></li>
                            <li><a href="contact.html">Bize Ulaşın</a></li>
                            <li><a href="#support">Destek</a></li>
                        </ul>
                    </div>
                </div>
                <div class="address-grid col-lg-4 col-md-6 col-sm-7 mt-lg-0 mt-sm-5 mt-4 w3l-footer-16-main">
                    <h5>Abone Olun</h5>
                    <form action="#" class="subscribe d-flex mt-4 pt-lg-2 mb-4" method="post">
                        <input type="email" name="email" placeholder="Email Address" required="">
                        <button><span class="fa fa-paper-plane" aria-hidden="true"></span></button>
                    </form>
                    <p>Posta listemize abone olun ve e-posta gelen kutunuza güncellemeler alın.</p>
                </div>
            </div>
            <!-- copyright -->
            <div class="w3l-copyright mt-lg-5 mt-sm-4 pt-md-4 pt-3">
                <div class="row bottom-copies pt-md-5 pt-4 mt-md-5 mt-4">
                    <p class="col-lg-8 copy-footer-29">
                        © @DateTime.Now.Year Bistros. Tüm hakları saklıdır. Design by <a href="https://w3layouts.com/" target="_blank">
                            W3layouts
                        </a>
                    </p>

                    <div class="col-lg-4 footer-list-29 mt-lg-0 mt-md-4 mt-2">
                        <ul class="d-flex text-lg-right">
                            <li><a href="#support">Destek</a></li>
                            <li class="mx-lg-5 mx-md-4 mx-3">
                                <a href="#privacy">Gizlilik Politikası</a>
                            </li>
                            <li><a href="contact.html">Bize Ulaşın</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>