<section class="w3l-recipes py-5">
    <div class="container py-md-5 py-4">
        <div class="row">
            <div class="col-lg-6 recipe-left mb-md-0 mb-5">
                <div class="section-heading mb-sm-5 mb-4">
                    <h3 class="title-style mb-2 text-white">Yemeklerimiz</h3>
                    <p class="lead text-white">
                        Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque,
                        eaque ipsa quae ab illo inventore.
                    </p>
                </div>
                <div class="menu-sec mt-5 pt-md-4">
                    <div class="row border-dot no-gutters">
                        <div class="col-8 menu-item-name-home">
                            <h6>Domatesli Tost Ricotta</h6>
                        </div>
                        <div class="col-4 menu-item-price-home text-right">
                            <h6>80.00₺</h6>
                        </div>
                    </div>
                </div>
                <div class="menu-sec mt-sm-5 mt-4">
                    <div class="row border-dot no-gutters">
                        <div class="col-8 menu-item-name-home">
                            <h6>Tavuk Salatası</h6>
                        </div>
                        <div class="col-4 menu-item-price-home text-right">
                            <h6>110.00₺</h6>
                        </div>
                    </div>
                </div>
                <div class="menu-sec mt-sm-5 mt-4">
                    <div class="row border-dot no-gutters">
                        <div class="col-8 menu-item-name-home">
                            <h6>Nihai Sebze </h6>
                        </div>
                        <div class="col-4 menu-item-price-home text-right">
                            <h6>135.00₺</h6>
                        </div>
                    </div>
                </div>
                <a class="btn btn-style-white btn-style-border mt-5" href="about.html">Daha Fazla Görüntüle</a>
            </div>
            <div class="col-lg-6 recipe-right pl-5">
                <img src="~/Bistros-Starter/assets/images/image1.png" alt="" class="img-fluid img-responsive" />
            </div>
        </div>
    </div>
</section>