<section class="w3l-portfolio-8 py-5">
    <div class="portfolio-main py-md-5 py-4">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-8">
                    <div class="section-heading mb-sm-5 mb-4">
                        <h3 class="title-style mb-2">Our Specials</h3>
                        <p class="lead">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque,
                            eaque ipsa quae ab illo inventore.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row galler-top">
                <div class="col-md-4 col-sm-6 protfolio-item hover14">
                    <a href="menu.html" data-lightbox="example-set" data-title="Branding Design">
                        <figure>
                            <img src="~/Bistros-Starter/assets/images/g1.jpg" alt="product" class="img-fluid">
                            <div class="p-4">
                                <p>Bistros</p>
                                <a href="menu.html" class="mb-5 img-title">Noodles</a>
                            </div>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 protfolio-item hover14 mt-sm-0 mt-4">
                    <a href="menu.html" data-lightbox="example-set" data-title="Gradient Website Development">
                        <figure>
                            <img src="~/Bistros-Starter/assets/images/g2.jpg" alt="product" class="img-fluid">
                            <div class="p-4">
                                <p>Bistros</p>
                                <a href="menu.html" class="mb-5 img-title">Cakes</a>
                            </div>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 protfolio-item hover14 mt-md-0 mt-4">
                    <a href="menu.html" data-lightbox="example-set" data-title="Design and Development">
                        <figure>
                            <img src="~/Bistros-Starter/assets/images/g3.jpg" alt="product" class="img-fluid">
                            <div class="p-4">
                                <p>Bistros</p>
                                <a href="menu.html" class="mb-5 img-title">Pizzas</a>
                            </div>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 protfolio-item hover14 mt-4">
                    <a href="menu.html" data-lightbox="example-set" data-title="Magazine Content Writing">
                        <figure>
                            <img src="~/Bistros-Starter/assets/images/g4.jpg" alt="product" class="img-fluid">
                            <div class="p-4">
                                <p>Bistros</p>
                                <a href="menu.html" class="mb-5 img-title">Drinks</a>
                            </div>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 protfolio-item hover14 mt-4">
                    <a href="menu.html" data-lightbox="example-set" data-title="Magazine Content Writing">
                        <figure>
                            <img src="~/Bistros-Starter/assets/images/g5.jpg" alt="product" class="img-fluid">
                            <div class="p-4">
                                <p>Bistros</p>
                                <a href="menu.html" class="mb-5 img-title">Hamburgers</a>
                            </div>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 protfolio-item hover14 mt-4">
                    <a href="menu.html" data-lightbox="example-set" data-title="Magazine Content Writing">
                        <figure>
                            <img src="~/Bistros-Starter/assets/images/g6.jpg" alt="product" class="img-fluid">
                            <div class="p-4">
                                <p>Bistros</p>
                                <a href="menu.html" class="mb-5 img-title">Meals</a>
                            </div>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="text-center">
                <a href="menu.html" class="btn btn-style-white btn-style-primary mt-lg-5 mt-2">See Our Menu</a>
            </div>
        </div>
    </div>
</section>