<section class="w3l-about-2 py-5">
    <div class="container py-md-5 py-4">
        <div class="row justify-content-between align-items-center pb-lg-5">
            <div class="col-lg-6 about-2-secs-right mb-lg-0 mb-5">
                <div class="image-box inverse position-relative">
                    <div class="image-box__static">
                        <img src="~/Bistros-Starter/assets/images/about2.jpg" alt="" width="364" height="459">
                    </div>
                    <div class="image-box__float">
                        <img src="~/Bistros-Starter/assets/images/about1.jpg" alt="" width="364" height="459">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 about-2-secs-left pl-lg-5 mt-lg-0 mt-5">
                <h3 class="title-style mb-3">Muhteşem Bitros & <br>Lezzetli Yemekler</h3>
                <p class="mt-4">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                    praesentium voluptatum
                    deleniti similique sunt in culpa qui officia
                </p>
                <div class="address-sec d-flex align-items-center mt-5">
                    <i class="fa fa-map-marker mr-4" aria-hidden="true"></i>
                    <h6>Eğitim mahallesi, <br>Şükrü Tunar sokak, <br>İzmir.</h6>
                </div>
            </div>
        </div>
    </div>
</section>