<section class="w3-bottom-stats py-5">
    <div class="container py-md-5 py-4">
        <div class="row">
            <div class="col-md-7 pr-lg-5">
                <h5 class="text-new mb-4">
                    Hello. <br>Our structure has been present for over 36 years. <br>We
                    make
                    the best !
                </h5>
                <p class="mb-3">
                    Nibh eu consequat magna ipsum ac ex. Nulla iaculis
                    tincidunt elit, tortor luctus sit amet.
                </p>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo.
                </p>
                <a href="about.html" class="btn btn-style-white btn-style-primary mt-lg-5 mt-4">Learn More</a>
            </div>
            <div class="col-md-5 mt-md-0 mt-5">
                <div class="counter text-center">
                    <div class="timer count-title count-number" data-to="6370" data-speed="1500"></div>
                    <p class="count-text mt-2">happy customer's</p>
                </div>
                <div class="counter text-center mt-5">
                    <div class="timer count-title count-number" data-to="421" data-speed="1500"></div>
                    <p class="count-text mt-2">master chef's</p>
                </div>
                <div class="counter text-center mt-5">
                    <div class="timer count-title count-number" data-to="7300" data-speed="1500"></div>
                    <p class="count-text mt-2">Order's Everyday</p>
                </div>
            </div>
        </div>
    </div>
</section>