<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Bistros - Restoran</title>
<!-- google-fonts -->
<link href="//fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet">
<!-- //google-fonts -->
<!-- Template CSS Style link -->
<link rel="stylesheet" href="~/Bistros-Starter/assets/css/style-starter.css">