<section class="w3l-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 banner-left d-flex align-items-center pl-lg-5">
                <div>
                    <h3 class="text-white mb-4">
                        Bistrosa Hoşgeldiniz <br>
                        Sağlıklı <span class="type-js"><span class="text-js">Taze Yemekler!</span></span>
                    </h3>
                    <p class="banner-text text-white">
                        Her Gün Açık - <span>08:00 - 20:00</span>
                    </p>
                    <a class="btn btn-style-white btn-style-border mt-5" href="about.html">Daha Fazla Bilgi</a>
                </div>
            </div>
            <div class="col-md-6 banner-right">
                <div class="small-images">
                    <div class="ban-grid position-relative">
                        <img src="~/Bistros-Starter/assets/images/ban4.jpg" class="img-responsive" alt="" />
                        <div class="img-ban-sec">
                            <h5>Fast Foods</h5>
                            <a href="menu.html" class="btn p-0">
                                Daha Fazla <i class="fa fa-angle-right ml-1"
                                        aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ban-grid position-relative mt-4">
                        <img src="~/Bistros-Starter/assets/images/ban2.jpg" class="img-responsive" alt="" />
                        <div class="img-ban-sec">
                            <h5>Kahvaltı</h5>
                            <a href="menu.html" class="btn p-0">
                                Daha Fazla <i class="fa fa-angle-right ml-1"
                                        aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>